body {
    background-color: black;
    margin: 0;
    padding: 0;
    
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
  }
  